body{
  font-family: 'Open Sans', sans-serif;
}

.container-fluid{
  padding:0;
}

.build-health.passing {
  background-color: lightgreen;
}

.build-health.failing {
  padding: 0 20px;
}

.build-health.passing div.icon{
  display:block;
  line-height:600px;
  color:white;
  font-weight:800;
  font-size:550px;
  min-height:3000px;
  text-align:center;
}

.build-metrics-wrapper{
  position:absolute;
  bottom:0;
}

.build-metric{
  text-align:center;
}

.build-metric h1{
  border-bottom:thin solid #666;
  background:#AAA;
  text-transform:uppercase;
  font-size:24px;
  font-weight:600;
}

.build-metric p{
  background: #ccc;
  font-size:120px;
  line-height:144px;
  font-weight:800;
}

.job-view {
  background-color: red;
  padding: 10px;
  margin: 10px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.job-view span {
  display: inline-block;
  height: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.job-view span h1{
  color:white;
  font-size:56px;
  line-height:64px;
}


.job-view.red_anime{
  background-color: DarkOrchid;
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  background-size: 30px 30px;
  background-image: -webkit-gradient(linear, left top, right bottom,
    color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
    color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
    color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
    to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;
  }

  @-webkit-keyframes animate-stripes {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 60px 0;
    }

  }

  @-moz-keyframes animate-stripes {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 60px 0;
    }
}